<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazing app to help you find nearest MBTA station</title>
</head>
<style>
    .content {
  max-width: 60%;
  margin: auto;
    }
    h1{
        color: maroon;
    }
</style>
<body>
    <div class="content">
        <h1>MBTA HELPER</h1>
        <h2>Hi there! This website helps you find the nearest MBTA station. </h2>
    
        <form method="POST" name="" action='{{ url_for('find') }}'>
            {% if error %}
            <p style="color:red">The place you entered does not have an MBTA station nearby.</p>
            <a href="{{ url_for('index') }}">Back to search</a>
            {% endif %}
            <p>
                Please enter your current location:
            </p>
            <p> 
                <input type="text" size="4" name="location" />
            </p>
            <p>
                <input type="submit" value="Submit" />
            </p>
        </form>
    </div>
</body>
</html>